.css-hyum1k-MuiToolbar-root {
  background-color: #1ec995;
}

.css-yz9k0d-MuiInputBase-input {
  position: relative;
  right: 200px;
}

.css-1v4gzma {
  border-bottom: 1px solid black;
  padding: 7px !important ;
}

.css-106jpu6 {
  padding: 7px !important ;
  margin-top: -27px;
}

.notification_text {
  font-size: 14px !important;
  margin-top: 15px !important;
}

.notification_pic {
  margin-top: 25px;
}
